body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

.clicker-menu {
    display: flex;
}

#btn {
    height: 140px;
    width: 150px;
    background-color: rgb(51, 53, 93);
    border: 6px solid rgb(102, 102, 202);
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(32, 33, 49);
}

.cliker-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

/* CARDS */

.card {

    display: flex;
}
