body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/* HEADER */

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.header-content a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
}

.header-content img{
   width: 80px;
   border-radius: 15px;
}

#btn {
    height: 140px;
    width: 150px;
    background-color: rgb(51, 53, 93);
    border: 6px solid rgb(102, 102, 202);
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(32, 33, 49);
}



